.css-1k2u9zb-MuiChartsAxis-root .MuiChartsAxis-line{
    stroke-width: 0 !important
}

.css-1k2u9zb-MuiChartsAxis-root .MuiChartsAxis-tick {
    stroke: transparent !important;
}

.css-1vuxth3-MuiBarElement-root{
    fill: transparent !important;
}

#bar-chart svg {
    /* transform: translate(-3.3%, -5.3%) scale(1.0,1.2);  */
}

.MuiChartsAxis-tickLabel{
    fill: #373737 !important;
    font-family: "Noto Sans KR", sans-serif !important;
}