.ant-table-cell{
    background: white !important;
    font-size: 14px;
}
.ant-pagination-item ,.ant-pagination-item-link {
    border: 1px solid #E8E8E8 !important;
}

.ant-pagination-item-active{
    border: 1px solid #0866FF !important;
}